//layout
$max-width:  1366px;
$bp-tablet:  768px;
$bp-desktop: 960px;
$marge:      15px;

// Typos
$font-default: 'Hind', sans-serif;
$font-title: 'Hind', $font-default;
$font-size-base: 87.5%;

// Colors
$blue:            #334d5c;
